<button type="button" name="button">{{#link-to 'admin'}}Admin{{/link-to}}</button>
<br>
The best products you can get in Hong Kong!!!

<ul>
{{#each model as |product|}}
<li>  {{product.name}}: ${{product.price}}</li>
<button {{action 'addToCart' product}}>Add to Cart</button>
{{/each}}
</ul>

<h4>Total Order</h4>

<ul>
    {{display-cart item=product}}
</ul>
