<button type="button" name="button">{{#link-to 'admin'}}Admin{{/link-to}}</button>
<br>
The best products you can get in Hong Kong!!!

<ul>
{{#each model as |product|}}
<li><img id="vanilla" src={{product.image}}> {{product.name}}: ${{product.price}}</li>
{{/each}}
</ul>
